fastapi
uvicorn
pydantic
python-dotenv
pytest
pytest-asyncio
pytest-xdist
pytest-cov
ruff
pre-commit
openai~=1.78.1
langgraph
requests~=2.32.3
httpx~=0.28.1
psycopg2-binary
pgvector
openapi-spec-validator
